# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=2_gnu
matplotlib=3.8.3=pypi_0
matplotlib-inline=0.1.6=pyhd8ed1ab_0
numpy=1.26.4=pypi_0
openssl=3.2.1=hd590300_1
opt-einsum=3.3.0=pypi_0
osqp=0.6.5=pypi_0
pandas=2.2.1=pypi_0
pgmpy=0.1.25=pypi_0
pickleshare=0.7.5=py_1003
pillow=10.3.0=pypi_0
prettytable=3.10.0=pypi_0
python=3.10.14=hd12c33a_0_cpython
python-dateutil=2.9.0.post0=pypi_0
python-graphviz=0.20.3=pypi_0
python-utils=3.8.2=pypi_0
python_abi=3.10=4_cp310
pytz=2024.1=pypi_0
scikit-learn=1.4.1.post1=pypi_0
scipy=1.11.4=pypi_0
torch=2.2.2+cu118=pypi_0
torchaudio=2.2.2+cu118=pypi_0
torchvision=0.17.2+cu118=pypi_0
tqdm=4.66.2=pypi_0
